<div class="conatiner ">
    <div class="row border mat-elevation-z8">
        <button mat-button class="menu-button" routerLink="/ajoutercompte">
            <mat-icon style="color: black;">add</mat-icon>
            <span style="color: black;">Ajouter un compte</span>
        </button>
        <div class="col-md-12 ">
            <table class="table">
                <thead>
                    <tr>
                        <th class="gauche" scope="col">Nom d’utilisateur</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th class="droite" scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody *ngFor="let user of users">

                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>

                        <td>{{user.roles[0].name}}</td>
                        <td>
                            <mat-icon class="update">update</mat-icon>
                            <mat-icon class="delete">delete</mat-icon>
                            <mat-icon class="visibility">visibility</mat-icon>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>