<div class=" container">
  <div class="row">
    <div class=" row  w-100 paysCarte">
      <div class="row  w-100">
        <div class="col-md-7  bg carte ">
          <mat-card class="card large">
            <mat-card-title class="text text-white">Bienvenu sur MaliTourism</mat-card-title>
            <!-- <span class="action">
              <button mat-button class="menu-button but">
                <mat-icon>update</mat-icon>
              </button>
              <button mat-button class="menu-button" routerLinkActive="active">
                <mat-icon routerLink="regiondetails" style="color: #F8325E;">delete</mat-icon>
              </button>
            </span> -->
          </mat-card>
          <!-- <p class="text">Bienvenu sur MaliTourism</p> -->
        </div>
        <div class="col-md-5  ms-1 py-3  populationCarte">
          <div class="row ">
            <div class="col-md-12 col-sm-6 ">
              <div class="col-md-12 col-sm-6">
                <mat-card class="card1">   
                  <mat-card-title class="text-center" style="color: #67C25E;" *ngFor="let pay of pays">
                    <p class="text1">{{pay.superficie}}</p>
                    <!-- <p>{{pay.image}}</p> -->
                    <style>

                      :host {
                          --myCssVar: url("../../assets/image/Koulouba.jpg");
                        }
                      </style>
                  </mat-card-title>
                </mat-card>
                <p class="py-2 text-center text2" style="color: #000;">Superficie</p>
              </div>
              <div class="col-md-12 col-sm-6 mt-4  ">
                <mat-card class="card1">
                  <mat-card-title class="text1 text-center" style="color: #F8325E;"><span>{{regions.length}}</span></mat-card-title>
                </mat-card>
                <p class="py-2 text-center text2" style="color: #000;">Régions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row region1 py-4">
      <div class="col" *ngFor="let region of regions">
        <div class="parent">
          <div class="child1"></div>
          <div class="child1 child2 ss">
            <div class="row r_img">
              <img class="i_reg" src="../../assets/image/{{region.image}}">
            </div>
            <div class="row r_text" routerLinkActive="active">
              <div class="t_region">
                {{region.nom}} <br>
              </div>
              <p></p>
              <div>
              </div>
              <mat-icon class="action" [routerLink]="['/regiondetails',region.idRegion]">visibility</mat-icon>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>