<div class="main container py-8">
    <div class="row">
        <div class=" col-md-12 bg paysCarte">
            <div class="row">
                <div class="col-md-4 col-sm-2 bg carte ">
                  

                      <mat-card class="card large">
                        <mat-card-title class="text text-white">Bienvenu sur MaliTourism</mat-card-title>
                      </mat-card>                        
                      <!-- <p class="text">Bienvenu sur MaliTourism</p> -->
                </div>
                <div class="col-md-4 col-sm-2 ms-1 py-3  populationCarte">
                    <div class="row ">
                        <div class="col-md-12 col-sm-6 ">
                            <div class="col-md-12 col-sm-6">
                                 <mat-card class="card1" >
                                      <mat-card-title class="text-center" style="color: #67C25E;"><p class="text1">500 0000</p></mat-card-title>
                                 </mat-card>
                                 <p class="py-2 text-center text2" style="color: #000;">Superficie</p>
                            </div>

                        
                            <div class="col-md-12 col-sm-6 mt-4  ">
                                <mat-card class="card1" >
                                     <mat-card-title class="text1 text-center" style="color: #F8325E;"><span>8</span></mat-card-title>
                                </mat-card>
                                <p class="py-2 text-center text2" style="color: #000;">Régions</p>
                           </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-11 ml-4 bg mt-4 py-8  regionnav">
            <div class="row regionscontent">
                <div class="col-md-3  content">
                    <mat-card class="mat-elevation-z4 regions">
                        <!-- <mat-card-header>
                          <mat-card-title>Himalayan Peaks</mat-card-title>
                        </mat-card-header> -->
                        <img mat-card-image src="../../assets/image/Hotel_de_Ville_de_Kayes.jpg">
                        <mat-card-content>
                          <p>
                            The Himalayas is a mountain range in Asia.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button">
                                <mat-icon>visibility</mat-icon>
                              </button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div class="col-md-3  content">
                    <mat-card class="mat-elevation-z4 regions">
                        <!-- <mat-card-header>
                          <mat-card-title>Himalayan Peaks</mat-card-title>
                        </mat-card-header> -->
                        <img mat-card-image src="../../assets/image/a6d0144a93132f4671f14b4a232fcbc0.jpg">
                        <mat-card-content>
                          <p>
                            The Himalayas is a mountain range in Asia.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button">
                                <mat-icon>visibility</mat-icon>
                              </button>
                        </mat-card-actions>
                      </mat-card>
                </div>

                <div class="col-md-3  content">
                    <mat-card class="mat-elevation-z4 regions">
                        <!-- <mat-card-header>
                          <mat-card-title>Himalayan Peaks</mat-card-title>
                        </mat-card-header> -->
                        <img mat-card-image src="../../assets/image/1000.jpeg">
                        <mat-card-content>
                          <p>
                            The Himalayas is a mountain range in Asia.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button">
                                <mat-icon>visibility</mat-icon>
                              </button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>

        </div>

    </div>

</div>