.border{
    height: 450px;
    width: 85%;
    position: relative;
    left: 10%; 
    border-radius: 10px;
    
    background-color: #F8FFF8;
}
button {
    border:  1px;
    border-radius: 10px;
    background-color:#DDF8D7;
    margin-top: 20px;
    height: 40px;
    margin-left: 40px;

}

.menu-button {
    width: 25%;
    
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;


   
}/* 
.menu-button .mat-icon {
    margin-right: 8px;
} */


.gauche{
    border-top-left-radius: 10px;
      }

      .droite{
          border-top-right-radius: 10px;
            }
th{
  background-color: #DDF8D7;
  border: none;
  font-size: 1.5rem!important;
}
tr td{
  border-bottom: black;
  font-size: 1rem!important;
  width: fit-content;
}
.conatiner{
}
.table{
  width: 80%;
  position: relative;
  left: 30px;
}
.visibility{
  color: #000;
  cursor: pointer;

}
.delete{
  color: #F8325E;
  cursor: pointer;
}
.update{
  color: #67C25E;
  cursor: pointer;
}
