<div class="conatiner ">
    <div class="row border mat-elevation-z8">
        <button mat-button class="menu-button" routerLink="/ajouterregion">
            <mat-icon style="color: black;">add</mat-icon>
            <span style="color: black;">Ajouter un pays</span>
        </button>
        <div class="col-md-12 ">
            <table class="table">
                <thead>
                    <tr>
                        <th class="gauche" scope="col">Nom</th>
                        <th scope="col">Superficie</th>
                        <th scope="col">Activité</th>
                        <th scope="col">Langue</th>
                        <th class="droite" scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody *ngFor="let region of regions">

                    <tr>
                        <td>{{region.nom}}</td>
                        <td>{{region.superficie_regions}}</td>
                        <td>{{region.domaine_activite}}</td>
                        <td>{{region.langue}}</td>
                        <td>
                            <mat-icon class="update">update</mat-icon>
                            <mat-icon class="delete">delete</mat-icon>
                            <mat-icon class="visibility">visibility</mat-icon>
                        </td>

                    </tr>

                   
                </tbody>
            </table>
        </div>

    </div>
</div>