<div class="conatiner ">
    <div class="row border mat-elevation-z8">
        <button mat-button class="menu-button">
            <mat-icon>add</mat-icon>
            <span>Ajouter un pays</span>
          </button>
    <div class="col-md-12 ">
        <table class="table">
          <thead>
            <tr>
              <th  class="gauche" scope="col">Année</th>
              <th  scope="col">Population</th>
              <th class="droite" scope="col">Population</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>

            </tr>

            <tr>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>

            </tr>

            <tr>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>

            </tr>
         
          </tbody>
        </table>
       </div>
      
    </div>
</div>