<div class="container">
    <div class="row">
      <!-- <div class="col-3"></div> -->
      
      <div class="col mx-auto d-block mat-elevation-z8 formulaire">
        <mat-card class="textet">Ajouter une region</mat-card>
        
    
    
        <form >
          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <label for="formGroupExampleInput">Nom</label>
              <input type="text" class="form-control" placeholder="Nom de la region">
            </div>
            <div class=" col-lg-6 col-xs-12">
              <label for="formGroupExampleInput">Code-Region</label>
              <input type="text" class="form-control" placeholder="Code de la region">
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-6  col-xs-12">
              <label for="formGroupExampleInput">Superficie</label>
              <input type="text" class="form-control" placeholder="Superficie de la region">
            </div>
            <div class="col-lg-6  col-xs-12">
              <label for="formGroupExampleInput">Pays</label>
              <input type="text" class="form-control" placeholder="Pays">
            </div>
          </div>
      
          <div class="row">
            <div class=" col-lg-6  col-xs-12">
              <label for="formGroupExampleInput">Activité</label>
              <input type="text" class="form-control" placeholder="Activité de la region">
            </div>
            <div class="col-lg-6  col-xs-12">
              <label for="formGroupExampleInput">Langue</label>
              <input type="text" class="form-control" placeholder="Langue parlée">
            </div>
          </div>
    
          <div class="ajoutimg">
            <span> Ajouter une image</span>  <input type="file" class="form-control" placeholder="Langue parlée">
        </div>
          
        </form>
    
        <button type="submit" class="btn btn-secondary mx-auto d-block">Envoyer</button>
      </div>
      
      
      <div class="col-3"></div>
    </div>
    
    </div>