<!-- 
 <div>Acc</div> 
<mat-toolbar>
  Responsive
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8">

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>


   <span>
      <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
    </span>

</mat-toolbar> -->
<mat-toolbar class="mat-elevation-z8">


  <p class="text1">MaliTourism</p>
  
  <div>
    <p style="color: black;" class="logContent" routerLink="/login">Connexion <mat-icon class="logIcon">login</mat-icon></p>
  </div>
  <div class="sideButtom">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  </div>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8 py-4">
    <img class="avatar mat-elevation-z8" src="../assets/image/Capture d'écran_20221212_152228 1.png" />
    <div class="side mr-auto" routerLinkActive="active">
      <button mat-button class="menu-button" routerLink="accueil">
        <mat-icon>dashboard</mat-icon>
        <span>Tableau de bord</span>
      </button>



      <button mat-button class="menu-button" routerLink="regions">
        <mat-icon>business</mat-icon>
        <span> Regions</span>
      </button>

      <button mat-button class="menu-button" routerLink="pays">
        <mat-icon>terrain</mat-icon>
        <span>Pays</span>
      </button>


      <button mat-button class="menu-button" routerLink="compte">
        <mat-icon>account_circle</mat-icon>
        <span>Compte</span>
      </button>
      <br>
      <button mat-button class="menu-button dessous" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content >
    <!-- <div class="nav mat-elevation-z8">
    <button class="decote"
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  </div> -->

    <div class="content ">
      <div class="container">
              <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>